<!doctype html>
<html>
  <head>
    <title>New Event Announcement!</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      padding: 20px;
    "
  >
    <div
      style="
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
        background-color: #fff;
      "
    >
      <div style="text-align: center; padding: 30px">
        <img
          src="https://utfs.io/f/7569a78d-1118-40e6-a844-bfc5433fcb83-yko3op.png"
          alt="GFE Logo"
          style="max-width: 150px"
        />
      </div>
      <div
        style="
          width: calc(100% - 20px);
          height: 1px;
          background-color: #eee;
          margin: 0 10px;
        "
      ></div>
      <div style="padding: 20px; margin: auto; background-color: #fff">
        <h2 style="text-align: center">
          You're Invited to our Upcoming Event!
        </h2>
        <div style="display: flex; justify-content: center">
          <img src="<%= image %>" alt="Event Image" style="max-width: 100%" />
        </div>
        <p>
          <span style="color: #c2c1c1; font-weight: bold">EVENT NAME:</span>
          <a href="<%= link %>" style="color: black !important"><%= title %></a>
        </p>
        <p>
          <span style="color: #c2c1c1; font-weight: bold">SUMMARY:</span>
          <span><%= summary %></span>
        </p>
      </div>
      <div
        style="
          width: calc(100% - 20px);
          height: 1px;
          background-color: #eee;
          margin: 0 10px;
        "
      ></div>
      <div
        style="
          padding: 20px;
          margin: auto;
          background-color: #fff;
          font-size: 10pt;
        "
      >
        <p>Hello</p>
        <p>
          As a valued subscriber, we are thrilled to invite you to our upcoming
          event, <%= name %>. Don't miss this exciting opportunity to join the
          event.
        </p>
        <p>
          To register for the event, click here:
          <a
            href="[REGISTRATION LINK]"
            style="color: black !important; text-decoration: none"
            >Register</a
          >.
        </p>

        <p>
          Your participation would greatly enhance the event! We look forward to
          seeing you.
        </p>
      </div>
      <div
        style="
          width: calc(100% - 20px);
          height: 1px;
          background-color: #eee;
          margin: 0 10px;
        "
      ></div>
      <div style="text-align: center; padding: 20px; background-color: #fff">
        <p>Connect with us on:</p>
        <div style="text-align: center">
          <a
            href=""
            style="
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin: 0 5px;
              text-decoration: none;
            "
          >
            <img
              src="https://utfs.io/f/5a5973db-8ea4-45a6-bdb8-a9a91ad1e891-f5khal.png"
              alt="Twitter"
              style="
                width: 35px;
                height: 35px;
                object-fit: cover;
                border-radius: 50%;
              "
            />
          </a>
          <a
            href="https://t.me/gfefoundation"
            style="
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin: 0 5px;
              text-decoration: none;
            "
          >
            <img
              src="https://utfs.io/f/2dce2581-ad84-4178-ab17-0a1bba4eb39b-dviuix.png"
              alt="Telegram"
              style="
                width: 35px;
                height: 35px;
                object-fit: cover;
                border-radius: 50%;
              "
            />
          </a>
          <a
            href="https://discord.gg/mkr95bfA"
            style="
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin: 0 5px;
              text-decoration: none;
            "
          >
            <img
              src="https://utfs.io/f/4c378eea-74ea-435a-88f9-d2d6b56f748e-onh5o3.jpeg"
              alt="Discord"
              style="
                width: 35px;
                height: 35px;
                object-fit: cover;
                border-radius: 50%;
              "
            />
          </a>
        </div>
        <div style="text-align: center; font-size: 8pt; margin: 25px 0 10px">
          <a
            href="https://gfe.foundation/privacy"
            style="color: black !important"
            >Privacy & Policy</a
          >
          <span> | </span>
          <a href="https://gfe.foundation/terms" style="color: black !important"
            >Terms & Conditions</a
          >
          <span> | </span>
          <a
            href="https://gfe.foundation/unsubscribe?email=<%= email %>"
            style="color: black !important"
            >Unsubscribe</a
          >
        </div>
        <div>
          <p style="text-align: center; font-size: 9pt; color: #c2c1c1">
            Copyright © 2024 GFE Foundation. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
